@media screen and (max-width: 500px) {
    div[class^="map"].mapsmall {
        float: left;
        height: 180px;
        min-width: 270px;
        position: relative;
        width: 100%;
    }

    div[class^="map"].mapfull {
        float: left;
        height: 400px;
        min-width: 220px;
        position: relative;
        width: 100%;
    }
    div.entry-content div[class^="map"].mapfull {
        width:93% !important;
    }
}

@media screen and (min-width: 995px) {
    div[class^="map"].mapsmall
        {
        float: left; height: 180px; width: 320px; position: relative;
        }
    div[class^="map"].mapfull
        {
        height: 450px;
        width: 100%;
        position: relative;
        margin:auto;
        }
}
@media only screen and (min-width: 501px) and (max-width: 994px) {
    div[class^="map"].mapsmall
        {
        float: left; height: 180px; max-width: 320px; position: relative; width: 43%;
        }
    div[class^="map"].mapfull
        {

        height: 650px; width: 520px; margin:auto; position: relative;
        }
}

div.leaflet-popup-content div.community-popup ul.contacts li.contact
{
    background-image: none;
    background-repeat: no-repeat;
    margin-top: 0px;
    padding-left: 0em;
    background-position: 0 3px;
}

[class^="map"] img {
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
}

div.footable-row-detail-name
{
  vertical-align: middle;
}

span.community-popup ul.contacts
{
  margin: 0 0 0 0;
}

span.community-popup>ul.contacts>li {
    background-image: none;
    margin: 0px !important;
    padding-left: 0;
}

.footable-header>th, .footable-details th {
    font-size: 1.2rem;
    line-height: 25px;
    font-weight: normal;
    text-transform: none;
    color: #444;
}

div.zipsearch {

}

.zipsearch input, .zipsearch button {
    width: 30%;
    margin-right: 5px;
    margin-bottom: 10px;
}

#ctable td {
  vertical-align: middle;
}

#ctable li.contact a.contact-icon {
  color: #47a3da;
}
